<section class="contact-header">
  <h1 class="contact-title">Contact</h1>
  <ul>
    <li><a href="/">Home</a></li>
    &bull;
    <li><a href="/contact" class="active">Contact</a></li>
  </ul>
</section>

<section class="get-to-know">
  <div class="container get-to-know-container">
    <div class="get-to-know-info">
      <span class="subtext">get to know us</span>
      <h2 class="heading-2">Experience the World with Triptopia</h2>
      <p class="get-to-know-text">
        Triptopia was born out of a shared passion for exploration and a desire
        to create meaningful travel experience. We believe travel is more than
        just visiting a place
      </p>
      <p class="get-to-know-info-box">
        The world is a book and those who do not travel read only one page.
      </p>
      <p class="get-to-know-text">
        <ion-icon name="airplane"></ion-icon>
        To curate personalized itineraries
      </p>
      <p class="get-to-know-text">
        <ion-icon name="airplane"></ion-icon>
        To curate personalized itineraries
      </p>
      <button class="btn btn-submit" type="">Discover More</button>
    </div>

    <div class="get-to-know-info-empty">
      <ion-icon name="information-circle"></ion-icon>
      <div class="get-to-know-info-text">
        <p>Do you have Questions <span>Call us anytyme</span></p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <img class="contact-image" src="./map-img.png" alt="" />
</div>