<section class="destination-header">
  <h1 class="blog-title">Destination</h1>
  <ul>
    <li><a href="/">Home</a></li>

    &bull;
    <li><a href="/destination" class="active">Destination</a></li>
  </ul>
</section>

<section class="destination-content">
  <div class="container destination-container">
    <ul class="destination-list">
      <li>
        <a href="/destination/1/destination-details">
          <img
            src="./destination-images/destination-1.jpg"
            alt=""
            class="destination-image"
          />
          <div class="rating">5.0</div>
          <h2>destination 1</h2>
        </a>
      </li>
      <li>
        <img
          src="./destination-images/destination-2.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 2</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-3.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 3</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-4.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 4</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-5.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 5</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-6.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 6</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-7.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 7</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-8.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 8</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-9.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 9</h2>
      </li>
      <li>
        <img
          src="./destination-images/destination-10.jpg"
          alt=""
          class="destination-image"
        />
        <div class="rating">5.0</div>
        <h2>destination 10</h2>
      </li>
    </ul>
  </div>
</section>