<section class="login-header">
  <h1 class="login-title">Login</h1>
  <ul>
    <li><a href="/">Home</a></li>
    &bull;
    <li><a href="/login" class="active">Login</a></li>
  </ul>
</section>

<section class="section-login">
  <div class="container login-container">
    <img src="/static/login.png" alt="" />
    <form action="">
      <h4>Log in yourself</h4>
      <p>Please Login here</p>

      <input type="email" placeholder="email" />
      <input type="password" placeholder="password" />

      <button class="login-btn">Login</button>
    </form>
  </div>
</section>