<section class="hero-section search-section">
  <div class="search-overlay">
    {{! <h1 class="hero-title">
      Discover the World,
      <br />
      one adventure at a time
    </h1>
    <p class="hero-description">Explore the world with us!</p>
    <div class="cta-hero">
      <a href="/contact" class="btn hero-btn">Contact Us</a>
      <a href="/destination" class="btn hero-btn-secondary">Get Quote</a>
    </div> }}
    <div class="search-image-box">
      {{! <img src="/static/pics/hero-image.jpg" alt="Travel Image" class="hero-image" /> }}
    </div>
     <form  class="search-form" method="get">
      {{>form}}
     </form>

  </div>
</section>

<section class="section-populartour">
  <div class="container popular-tour-container">
    {{! <span class="subtext">popular tour</span>
    <h2 class="heading-2">See Destinations You’ll
      <br />
      Love To Visit</h2>
    <p class="popular-tour-subtext">
      A Guide to Stunning Places Around the World That Promise Memorable
      Journeys and Incredible Views
    </p> }}
    {{!-- <nav>
      <ul class="popular-tour-nav-list">
        <li class="popular-tour-nav-item">
          <button class="popular-tour-nav-link active" data-type="all">Show All</button>
        </li>
        <li class="popular-tour-nav-item">
          <button class="popular-tour-nav-link" data-type="romantic">Day Long
            Tour</button>
        </li>
        <li class="popular-tour-nav-item">
          <button class="popular-tour-nav-link" data-type="adventure">Adventure
            Trip</button>
        </li>
        <li class="popular-tour-nav-item">
          <button class="popular-tour-nav-link" data-type="group">Group Tour</button>
        </li>
        <li class="popular-tour-nav-item">
          <button class="popular-tour-nav-link" data-type="solo">Solo Tour</button>
        </li>
      </ul>
    </nav> --}}
    <div class="popular-tour-grid">

      {{#each destinations}}
        {{>dest}}
      {{/each}}

    </div>
  </div>
</section>