
      <div>
        <label for="Destination">Destination</label>
        <input type="text" name="destination" placeholder="Search destination" value="{{filter.destination}}">
      </div>
      <div>
        <label for="">Duration</label>
        <select name="days" value="{{filter.days}}">

          <option value="3" {{#if (eq filter.days "3")}} selected {{/if}}> 1-3 Days </option>
          <option value="5" {{#if (eq filter.days "5")}} selected {{/if}}> 3-5 Days </option>
          <option value="15" {{#if (eq filter.days '15')}} selected {{/if}} > 5-15 Days </option>
          <option value="more" {{#if (eq filter.days 'more')}} selected {{/if}} > 15 or more Days </option>

          {{! <option value="2">2</option> }}
        </select>
      </div>
      <div>
        <label for="">Travel Type</label>
        <select name="type" >
           
          <option value=""> --- </option>
          <option value="solo" {{#if (eq filter.type "solo") }} selected="true"  {{/if}}> solo  </option>
          <option value="romantic" {{#if (eq filter.type "romantic")}} selected {{/if}} > romantic </option>
          <option value="adventure"   {{#if (eq filter.type "adventure")}} selected {{/if}} > adventure </option>
          <option value="group"  {{#if (eq filter.type "group")}} selected {{/if}} > group </option>
          <option value="day long"  {{#if (eq filter.type "day long")}} selected {{/if}} > day long </option>
            
        </select>
      </div>
      {{!-- <div>
        <label for="">Travelers</label>
        <select >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="more">6+</option>
        </select>
      </div> --}}
      <button type="submit" class="btn btn-submit btn-search"><ion-icon name="search-outline"></ion-icon> <span>Find</span> </button>
