<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="home.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <p class="logo">Triptopia</p>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="Home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/Destination/destination.html"
            >Destination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="btn cta-btn">Book trip</button>
    </header>
    <main class="main-content">
      {{{body}}}
    </main>

    <!-- FOOTER -->
    <footer>
      <div class="container footer-container">
        <div class="footer-logo-box">
          <h4>Triptopia</h4>
          <p>Hello, we are lift Media. Our goal is to translate the postive
            effects from revolutionizing</p>
        </div>

        <div class="footer-about">
          <h4 class="footer-about-title">About Us</h4>
          <ul>
            <li class="footer-about-item"><a href="#">About Us</a></li>
            <li class="footer-about-item"><a href="#">Our Services</a></li>
            <li class="footer-about-item"><a href="#">Privacy Plicy</a></li>
            <li class="footer-about-item"><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="footer-contact">
          <h4 class="footer-contact-title">Contact</h4>
          <ul>
            <li class="footer-contact-item"><a href="#">Contact Us</a></li>
            <li class="footer-contact-item"><a href="#">Support</a></li>
            <li class="footer-contact-item"><a href="#">FAQ</a></li>
            <li class="footer-contact-item"><a href="#">Blog</a></li>
          </ul>
        </div>

        <div class="footer-gallery">
          <h4 class="footer-gallery-title">Gallery</h4>
          <div class="footer-gallery-grid">
            <img
              src="./pics/destination-img-1.png"
              alt=""
              class="footer-gallery-image"
            />
            <img
              src="./pics/destination-img-2.png"
              alt=""
              class="footer-gallery-image"
            />
            <img
              src="./pics/destination-img-3.png"
              alt=""
              class="footer-gallery-image"
            />
            <img
              src="./pics/destination-img-4.png"
              alt=""
              class="footer-gallery-image"
            />
          </div>
        </div>

      </div>
      <div class="footer-bottom">
        <p class="footer-bottom-text">&copy; 2023 Triptopia. All rights
          reserved.</p>
      </div>
    </footer>

  </body>
</html>